/* .main {
  border: 2px solid black;
} */

.heading {
  font-size: 50px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 30px;
    margin-top: 12px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
  }
}
